@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prosto+One&display=swap');

.hidden {
    display: none;
}

.circulo {
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.532);
    position: relative;
    overflow: hidden;
}

.circulo button {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 200px;
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: black 0px 0px 8px;
}


.botonVerde {
    background-color: #4bd357;
    top: 0;
    left: 0;
}

.botonVerde:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.botonRojo {
    background-color: #f5331b;
    top: 0;
    right: 0;
}

.botonRojo:hover {
    background-color: #d62c0f;
    transform: scale(1.1);
}

.botonAmarillo {
    background-color: #fef632;
    bottom: 0;
    left: 0;
}

.botonAmarillo:hover {
    background-color: #e0e60f;
    transform: scale(1.1);
}

.botonAzul {
    background-color: #009feb;
    bottom: 0;
    right: 0;
}

.botonAzul:hover {
    background-color: #0081c6;
    transform: scale(1.1);
}

.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#puntaje {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    box-shadow: black 0px 0px 10px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.activo {
    filter: brightness(3);
    box-shadow: 0 0 40px rgba(255, 255, 255, 1);
    pointer-events: none;
}


#menu button, #historial button, #ronda button { 
    font-size: 17px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 2px;
    margin-top: 10px;
    border-radius: 8px;
    font-family: 'Prosto One', sans-serif;
    background: linear-gradient(45deg, #ff9100, #f9a632 );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#menu button:hover, #ronda button:hover, #historial button:hover {
    background: linear-gradient(45deg, #f9a632 , #ff9100 );
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nombreUsuario {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.851);
    background-color: #ffd6a1;
    text-align: center;
    margin: 15px;
    padding: 1%;
    border-radius: 10px;
    font-family: 'Prosto One', sans-serif;
    border: none;
    box-shadow: black 10px;
}

h1 {
    font-family: 'Prosto One', sans-serif;
    font-size: 50px; 
    color: #ff9100; 
    text-shadow: 0 0 0 #ffb347, 4px 4px 0 #ff9100; 
    background: linear-gradient(45deg, #ff9100, #ffb347); 
    -webkit-background-clip: text; 
    background-clip: none;
    -webkit-text-fill-color: transparent; 
    transform: rotate(-5deg); 
    transition: transform 0.3s; 
}


h1:hover {
    transform: rotate(5deg) scale(1.1); 
}

p {
    font-family: 'Prosto One', sans-serif;
    color: #ff9100; 
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    font-family: 'Prosto One', sans-serif;
    background-color: #6a4c93;
    color: white; 
}

pre {
  font-size: 18px;
  background-color: #ff9100;
  padding: 14px;
  border-radius: 10px;
  
}

@media (max-width: 768px) { 
    .circulo {
      width: 300px;
      height: 300px;
    }
    
    .circulo button {
      width: 150px;
      height: 150px;
    }
  
    h1 {
      font-size: 36px;
    }

    p{
      font-size: 16px;
    }

    #puntaje {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }

    .nombreUsuario {
      width: 200px;
      font-size: 14px;
    }

    #menu button, #historial button, #ronda button {
      font-size: 15px;
      padding: 8px 16px;
    }

    pre {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) { 
    .circulo {
      width: 200px;
      height: 200px;
    }
    
    .circulo button {
      width: 100px;
      height: 100px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    #puntaje {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  
    .nombreUsuario {
      width: 80%;
      font-size: 12px;
    }
  
    #menu button, #historial button, #ronda button {
      font-size: 14px;
      padding: 8px 14px;
    }

    pre {
      font-size: 15px;
    }
  }
  

  #confirmacionNombre {
    font-size: 15px;
    display: none; 
    margin-top: 12px;
    font-weight: bold;
}

.confirmacion-exito{
    color: rgb(57, 230, 57);
}

.confirmacion-error{
    color:#f5331b;
}

